* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK1WFyBlwlvbfuEkfQOofeS3uPb_v_wlu_wQ&usqp=CAU);
  
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}